* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.browsingImg {
  object-fit: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.singleImg {
  object-fit: cover;
  border-radius: 50%;
  height: 400px;
  width: 400px;
}
